.header {
  text-align: -webkit-center;
}

.header-container {
  width: 1440px;

  display: flex;
  // outline: 1px solid red;
  padding: 0px 25px;

  align-items: center;
}

.logo {
  margin-right: 48px;
  display: flex;
  padding: 16px 0;
}

.logo span {
  font-size: 28px;
  margin-right: 8px;
}

.nav,
.nav-list {
  display: flex;
  align-items: center;
}

.nav-item:not(:last-child) {
  margin-right: 48px;
}

.nav-item {
  position: relative;
  // outline: 1px solid red;
}
.nav-item:hover .submenu {
  display: block;
}

.nav-link {
  display: flex;
  padding: 17px 0;
  // background: rgb(209, 209, 209);
}

.submenu {
  position: absolute;
  padding: 10px 10px;
  left: 0;
  top: 100%;
  display: none;
}

.nav-link-img {
  margin-left: 12px;
}

.nav-item:hover .nav-link-img {
  transform: rotate(180deg);
  transition: all 250ms ease-out;
}

.header-btn {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.btn-margin {
  margin-left: 28px;
}
