.hearo {
  padding-top: 31px;
  padding-bottom: 22px;
}
.hearo-btn {
  background: var(--primary-black-color);
  color: var(--primary-white-color);
}

.hearo-btn:hover {
  color: var(--primary-black-color);
}
