:root {
  --primary-black-color: #000000;
  --secondary-text-color: #6f787e;
  --menu-text-color: #545d61;
  --accent-color: #ff90af;
  --batton-hover: #00c805;
  --hearo-bg-color: #c3f53c;
  --primary-white-color: #ffffff;
}
